client/node_modules/.cache/ # 添加到 .gitignore 防止以后被提交
node_modules/
# client/node_modules/.cache/client/node_modules/.cache/
client/node_modules/.cache/
client/.env
server/.env
client/node_modules/.cache/
server/config/serviceAccountKey.json
server/config/serviceAccountKey.json
